
<footer class="global">
  <div class="footer_container">
    <div class="container">
      <strong>Nordman Excavating</strong>
      <ul>
        <li>1431 Rt 64 E</li>
        <li>Tel: 815-732-7255</li>
        <li>Oregon, IL 61061</li>
        <li>Mail: nordmanexc@frontier.com</li>
      </ul>
    </div>
    <div class="container">
      <strong>Links</strong>
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About Us</li></a>
        <a href="services.html"><li>Services</li></a>
        <a href="contact.html"><li>Contact Us</li></a>
      </ul>
      <div class="fb">
        <a href="www.facebook.com/nordmanexcavating"><img src="img/fb.png"></a>
      </div>
    </div>​
  </footer>
  <script src="js/application-vendor.js"></script>
  <script src="js/application.js"></script>
</body>
</html>
